:root {
  --padding-sign-in: 32px;
  --right-side-background: rgb(183, 190, 196);
}

* {
  margin: 0;
}

h1 {
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

p {
  text-wrap: pretty;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  line-height: 1.5;
  padding: 0;
}

div.image-container {
  height: 100vh;
  width: 50vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container > div {
  position: absolute;
  color: beige;
  font-size: 0.7rem;
  bottom: 8px;
}

.image-container > div a {
  color: beige;
}

div.sign-in {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  background-color: var(--right-side-background);
}

div.group {
  display: flex;
  gap: 48px;
  padding: 16px 0px;
}

div.top-text {
  font-weight: bold;
  padding: var(--padding-sign-in);
}

div.label-pair {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

div.groups {
  background-color: white;
  box-shadow: 2px 2px 3px slategray;
  padding: var(--padding-sign-in);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.confirm-account {
  padding: var(--padding-sign-in);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.create-account-button {
  padding: 8px 24px;
  border-radius: 6px;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.6;
  background-color: rgb(142, 79, 201);
  box-shadow: 1px 1px 3px darkblue;
}

button.create-account-button:hover {
  background-color: rgb(111, 61, 158);
}

div.already-x > p {
  padding-top: 16px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid #d3d4d8;
  font-size: 1.2rem;
  border-radius: 4px;
}

input:user-invalid {
  border: 1px solid red;
}

input#password:user-valid,
input#confirm-password:user-valid {
  background-color: rgb(86, 252, 80);
}

input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 3px black;
}

p + p {
  padding-top: 16px;
}
